header nav.miColorFondo {
  background-color: #880e4f;
}

header nav div.container-fluid ul.navbar-nav li.nav-item a.nav-link {
  color: white;
  margin-left: 40px;
}

header nav div.container-fluid.collapse form.d-flex button.boton {
  border: 2px solid black;
}

/* titulo del carrusel */
h2.tituloInicio {
  font-size: 200px;
  margin-bottom: 50px;
}

p.subtituloInicio {
  font-size: 50px;
  margin-bottom: 20px;
}

p.desripcion_carrusel {
  font-size: 30px;
  margin-bottom: 40px;
}

h5.subtitulo_carrusel {
  font-size: 50px;
  margin-bottom: 100px;
  /*  font-weight: 400; */
}

footer {
  background-color: #880e4f;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

@media screen and (max-width: 1080px) {
  footer ul {
    max-width: 100%;
  }
}

footer ul.nav li.nav-item a.nav-link {
  color: white;
}

body {
  font-family: "Poppins", sans-serif;
}

/* bloques unoy dos */
div.contenedorPrueba {
  margin: 50px;
  margin-top: 100px;
  padding: 15px;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  div.contenedorPrueba {
    max-width: 300px;
    margin: 0 auto;
  }
}

div.contenedorPrueba div.beneficios {
  text-align: center;
}

div.contenedorPrueba div.beneficios ul.beneficios_lista {
  text-align: start;
  color: black;
}

div.contenedorPrueba div.beneficios h2.bloque_subtitulo {
  color: #880e4f;
  margin-bottom: 50px;
}

div.contenedorPrueba div.filaPrueba div.columnaPrueba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

div.contenedorPrueba div.filaPrueba div.columnaPrueba div.nuestraFilosofia h2.bloque_subtitulo {
  color: #880e4f;
  margin-bottom: 50px;
}

div.contenedorPrueba div.filaPrueba div.columnaPrueba div.nuestraFilosofia p.parrafoPrueba {
  text-align: justify;
}

div.contenedorPrueba div.filaPrueba div.columnaPrueba img.imgEjemplo {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1080px) {
  div.contenedorPrueba div.filaPrueba div.columnaPrueba img.imgEjemplo {
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* end bloques uno y dos */
h2.subtitulo {
  text-align: center;
  margin: 50px;
  color: #880e4f;
}

div.bloqueTres {
  background-color: #880e4f1f;
}

/* card */
div.cardContainer div.col div.card {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
  border: 0;
}

div.callAction {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 100px;
}

div.callAction h2.callAction_titulo {
  color: #880e4f;
  font-size: 50px;
  margin-bottom: 50px;
}

div.callAction button.miBoton {
  background-color: #880e4f;
  color: white;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

div.callAction button.miBoton:hover {
  background-color: #fcedf5;
  color: #880e4f;
  border: 1px solid #880e4f;
}

/* end call */
/* footer */
footer {
  background-color: #880e4f;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer ul.nav li.nav-item a.nav-link {
  color: white;
}
/*# sourceMappingURL=estilo.css.map */