$colorPrimario: #880e4f;
$colorSecundario: white;
$colorAcento: #880e4f1f;
$colorTerciario: #fcedf5;
$miTipografia: 'Poppins', sans-serif;
$sombra:  rgba(0, 0, 0, 0.24) 0px 3px 8px; 
$sombraDos: rgba(17, 17, 26, 0.1) 0px 1px 0px;