@import "variables";
@import "navbar";
@import "footer";



body {
    font-family: $miTipografia;
    height: 700px;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
div {
   
    &.error { 
        height: 300px;
        width: auto;
        
        background-image: url(https://media.giphy.com/media/9Pmfi0HtSpGSiuB991/giphy.gif?cid=ecf05e47w24bopnmjn1voljyy9dglfavrc6hzj8x1esytqpy&rid=giphy.gif&ct=g);

        background-repeat: no-repeat;
        background-position: center;
    }
}
h1 {
    text-align: center;
    color: $colorPrimario;
    margin:50px;
}