@import "variables";
@import "navbar";
@import "footer";

body {
    font-family: $miTipografia;
}

div {
    &.nosotras {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 100px;
        h1 {
            &.nosotras_titulo {
                color: $colorPrimario;
            }
        }
        p {
            &.nosotras_intro {
                text-align: justify;
                margin: 50px;
                @media screen and (max-width: 1080px) {
                    margin: 3px;
                }
            }
        }
        h2 {
            &.nosotras_lema {
                margin-top: 100px;
                color: $colorPrimario;
            }
        }
    }
}
div {
    &.nosotras_contactate {
        text-align: center;
        margin: 100px;
        @media screen and (max-width: 1080px){
            margin: 5px;
        }
        p {
            &.nosotras_contactateParrafo{
               margin: 50px;
                @media screen and (max-width: 1080px) {
                    margin: 5px;
                    text-align: start;
                }
            }
        }
    }
}
div {
    &.formulario {
        display: flex;
        div {
            &.formulario_campos {
                width: 50%;
                margin: 10px;
                margin-left: 40px;
                margin-right: 40px;
                @media screen and (max-width: 1080px) {
                    max-width: 100%;
                    margin: 0 auto;
                }
                div {
                    &.formulario_boton {
                        text-align: center;
                        button {
                            &.btn {
                                background-color: $colorPrimario;
                                color: white;
                            }
                            &.btn:hover {
                                background-color: $colorSecundario;
                                color: $colorPrimario;
                                border: 1px solid $colorPrimario;
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }

            &.formulario_img {
                img {
                    margin: 10px;
                    width: 80%;
                }
            }
        }
    }
}

body {
    @media screen and (max-width: 1080px) {
        div {
            &.nosotras {
                max-width: 300px;
                margin: 0 auto;
                margin-top: 50px;
            }
            &.formulario {
                display: block;
                div {
                    &.formulario_campos {
                        max-width: 100%;
                        margin: 0 auto;
                    }
                    &.formulario_img {
                        text-align: center;
                    }
                }
            }
        }
    }
}
